{% extends "app/layout.html" %}

{% block content %}
{% load my_filters %}

<h1>Fancy Buttons</h1>
<p>Hover over any button and enjoy the magic.</p>




<div class="cont">
    

</div>
<button class="custom-btn btn-1" onclick="createElementsInside()">Open more</button>



{% endblock %}
{% block scripts %}
<script>

    var my_data = [
    {% for deps in departments %}
        "{{ deps }}"
    {% if not loop.last %},{% endif %}
    {% endfor %}
        ];
    var i = 0
    var innerHtml = "";
    var devHtml = "";
    function createElementsInside() {
        devHtml+='<div class="buttons-coll'+' ' + i + '"></div>'
        $(".cont").html(devHtml);
        for (var j = i; j < i+3; j++) {
               innerHtml += '<button class="custom-btn btn-1">' + my_data[j]+'</button>';
               
        }
        $(".buttons-coll "+ i).html(innerHtml);
        if(i+3 < my_data.length){
                    i = i+3;
                     }
                else{
                    i = my_data.length;
                }
     
    }

    
</script>

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}